[build]
builder = "nixpacks"
buildCommand = "npm install"

[deploy]
rootDirectory = "Web_app"
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.envs]
NODE_ENV = "production"
PORT = "$PORT"
