[build]
builder = "nixpacks"
buildCommand = "npm install"

[deploy]
rootDirectory = "api-server"
startCommand = "npm start"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.envs]
NODE_ENV = "production"
PORT = "$PORT"

